/*comment this out when complete */
*{
background:rgba(0,0,0,.1);
}
/* Nav */
header a {
  font-family: 'Open Sans', sans-serif;
  color: grey;
}

.container {

}

.container.nav-container {
  margin-left: 0;
  /* margin-right: 0; */
}

.nav.navbar-nav {
  display: inline-flex;
  flex-direction: row;
}

li{
  padding-right: 5rem;

}
.navbar-brand {
  margin-right: 0;
}

img {
  margin-left: 50px;
}

/* To continue building the navigation section:

The first item in the list should have the class active.
You will need to override the built-in Bootstrap styles for the class active in style.css.
Include the logo image provided. This image should hide when the browser shrinks. */

/* You can use these two selectors to style the active link:*/

.navbar-default.navbar-nav.active a {

}

.navbar-default.navbar-nav.active a:hover {

}
/* The logo image should have the following attributes:

<img src="#" class="navbar-brand navbar-right navbar-collapse"> */


@media only screen and (max-width: 470px) {
.nav-container .navbar-header  img {
    display: none;
  }
}

/* Jumbotron */

.jumbo {
  display: flex;
}

.jumbotron.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  background-repeat: no-repeat;
    /* background-size: cover;
  background-position: center; */
}

.jumbotron.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
  background-repeat: no-repeat;
  /* background-size: cover;
  background-position: center; */
}

.jumbotron.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.jumbotron.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");

}

.container.jumbo-container {
  display: inline-flex
  flex-wrap: wrap;
}

.container.jumbo-container h1 {
  font-family: 'Monoton', cursive;
  text-shadow: 1px 1px black ;
  color: white;
  text-align: center;
}

.container.jumbo-container p {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black ;
  color: white;
  text-align: center;
  flex-wrap: wrap;
}

.btn {
  display: block;
}

.jumbo button {
  background-color: blue;
  color: white;
  border-radius: 4px;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
}

/* Projects */

.featured {
  display: flex;
  flex-wrap: wrap;
}

.feat1{
  width: 25%;
  padding-left: 10px;
  padding-right: 5px;
}

.feat2{
  width: 25%;
  padding-left: 5px;
  padding-right: 10px;
}

.image-container{
overflow: hidden;
}

.image-container img {
  opacity: 0.75;
  transition:  transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
  /*scale of imgs increases with mouse hover */
}

.three_projects {
  display: flex;
  flex-wrap: wrap;

}

.project1 {
  width: 30%;
}

.project2 {
  width: 30%;
}

.project3  {
  width: 30%;
}


@media only screen and (max-width: 1024px) {
  /* check this is correct tablet size */
.feat1{
    width: 50%;
    padding-left: 10px;
    padding-right: 5px;
  }

.feat2{
    width: 50%;
    padding-left: 5px;
    padding-right: 10px;
}

.project1 {
  width: 100%;
}

.project2 {
  width: 100%;
}

.project3  {
  width: 100%;
}
/* Having Trouble */

.trouble {
  display: inline-block;
  /* flex-wrap: wrap; */
}

.text{
text-align: center;
}

.learn{
  display: flex;
  justify-content: center;
}

.trouble button{
  background-color: blue;
  color: white;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px;

}
