/*comment this out when complete */
*{
background:rgba(0,0,0,.1);
}
/* Nav */
header a {
  font-family: 'Open Sans', sans-serif;
  color: grey;
}

.active {

}

@media only screen and (max-width: 470px) {
.nav-container .navbar-header  img {
    display: none;
  }
}
/* Jumbotron */
.jumbo {
  display: flex;
}

.jumbotron.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container.jumbo-container {
  display: inline-flex
  flex-wrap: wrap;
}

.container.jumbo-container h1 {
  font-family: 'Monoton', cursive;
  text-shadow: 1px 1px black ;
  color: white;
  text-align: center;
}

.container.jumbo-container p {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black ;
  color: white;
  text-align: center;
  flex-wrap: wrap;
}

.btn {
  display: block;
}

.jumbo button {
  background-color: lightblue;
  color: white;
  border-radius: 4px;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;

}

/* Projects */
.featured {
  display: flex;
}
